* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
}

.cardImage {
    height: 300px;
}

.home {
    width: 100vw;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.items {
    flex: 0 0 27%;
}

.navdiv {
    width: 100vw;
}

.cardDiv {
    display:flex;
    /* flex-direction: row; */
    width: 80%;
    margin: 1.5rem auto;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
}